<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341255966974-g8e0qb5ampl78kc2j8cdf4q6idb71ls2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341255966974-g8e0qb5ampl78kc2j8cdf4q6idb71ls2</string>
	<key>API_KEY</key>
	<string>AIzaSyCXN7OXYBFPDJF-KumgtItehIflOJ2E-qc</string>
	<key>GCM_SENDER_ID</key>
	<string>341255966974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banglaiskool.bagadoolia</string>
	<key>PROJECT_ID</key>
	<string>bangla-iskool-60fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>bangla-iskool-60fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341255966974:ios:57f0f8f3db10b9fd2715af</string>
</dict>
</plist>